.menu {
  z-index: 9;
  position: fixed;
  top: -500px;
  left: 0;
  width: 100vw;
  transition: all ease-in-out 0.7s;
}
.menu ul {
  flex-direction: column;
  position: relative;
  margin-right: 30px;
  background-color: rgba(244, 244, 244, 0.9);
}
.menu ul li {
  font-size: 0.8rem;
}
.menu ul li .home {
  text-transform: none;
}

@media screen and (max-width: 900px) {
  main .article-text {
    -moz-column-count: 1 !important;
         column-count: 1 !important;
  }
}
@media screen and (max-width: 768px) {
  .home-btn {
    display: none !important;
  }
  .menu-btn {
    display: block !important;
  }
  #index main img {
    position: absolute;
    top: 25%;
    max-width: 100vh;
  }
  #index main ul {
    display: none;
  }
  .articles main {
    margin-left: auto;
    margin-right: auto;
  }
  .articles main .article .article-header {
    padding: 30vh 0;
  }
  .articles main .article .article-text {
    font-size: 0.8rem;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .image-slide .about {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  header {
    padding: 10px 10px;
  }
  header h1 {
    display: none;
  }
  header nav ul {
    background-color: #f4f4f4;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 0.6rem;
  }
  header nav ul li {
    padding: 5px 10px;
    margin: 0;
  }
  main {
    margin: 4rem !important;
  }
}
.image-slide main {
  margin: 0;
}
.image-slide .images .image {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image-slide .images .image img {
  max-height: 80vh;
  max-width: 95vw;
}
.image-slide .images .image .fa-circle-info, .image-slide .images .image .about {
  display: none;
  position: relative;
  left: 45%;
  bottom: 30px;
  color: white;
}
.image-slide .images .image .fa-circle-info:hover .about, .image-slide .images .image .about:hover .about {
  display: block;
}
.image-slide .images .image .about {
  font-size: 0.5rem;
}
.image-slide .images .image .arrows {
  display: inline-flex;
  display: none;
  z-index: 10;
  width: 50%;
  justify-content: space-between;
  position: absolute;
  bottom: 7vh;
  padding: 5px;
  font-size: 1.5rem;
  color: gray;
  transition: all 0.1s;
}
.image-slide .images .image .arrows fa-arrow-left:hover {
  color: black;
  cursor: pointer;
}
.image-slide .images .image .arrows fa-arrow-left:active {
  color: gray;
}
.image-slide .images .image .arrows fa-arrow-right:hover {
  color: black;
  cursor: pointer;
}
.image-slide .images .image .arrows fa-arrow-right:active {
  color: gray;
}

.articles main {
  text-transform: none;
  text-align: center;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 0;
}
.articles main .article {
  font-family: "Times New Roman", Times, serif;
}
.articles main .article .article-header {
  width: 60%;
  display: inline-flex;
  flex-direction: column;
  padding: 40vh 0;
}
.articles main .article .article-header .title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;
}
.articles main .article .article-header .author {
  text-align: right;
}
.articles main .article .article-header .english-btn {
  font-size: 0.8rem;
  text-align: right;
}
.articles main .article .article-header .english-btn a {
  color: gray;
}
.articles main .article .article-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 5em;
       column-gap: 5em;
  text-align: left;
  margin-top: 3em;
  margin-bottom: 3em;
}
.articles main .article .article-text > p {
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  letter-spacing: 1px;
}

header {
  max-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg, #f4f4f4 0%, rgba(244, 244, 244, 0.7) 80%, rgba(244, 244, 244, 0) 100%);
  z-index: 3;
  text-transform: uppercase;
  padding: 10px 40px;
  font-size: 0.7rem;
}
header h1 {
  font-size: 1.2rem;
  font-weight: 400;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  margin-left: 40px;
  margin-bottom: 1vh;
}
header nav .menu-btn {
  display: none;
  font-size: 1.2rem;
  z-index: 10;
}
header nav .menu-btn:hover {
  cursor: pointer;
}
header nav .home-btn {
  display: block;
  font-size: 1.2rem;
  z-index: 10;
}
header nav .home-btn:hover {
  cursor: pointer;
}

main {
  text-transform: uppercase;
  margin: 8rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
main ul {
  list-style-type: none;
  position: relative;
}
main ul li {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  font-style: italic;
}

.italic {
  text-decoration: line-through;
}

#index main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#info main {
  font-size: 0.9rem;
}
#info main > * {
  margin-bottom: 40px;
}
#info main #curriculum {
  font-size: 0.5rem;
}

#txt main .essay {
  line-height: 1;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 5vh;
}
#txt main .essay .author {
  text-transform: none;
}